* {
    color: antiquewhite;
}

html, body {
    width: 100%;
    background-color: rgb(85, 85, 85);
}

a {
    margin: 0px 5px;
}

p, a {
    font-size: 16px;
}

#headerFull {
    width: 100%;
    display: table;
    background-color: black;
}

#headerName {
    display: table;
    float: left;
}

#headerLinks {
    display: table;
    float: right;
    vertical-align: middle;
}