* {
    
}

html, body {
    width: 100%;
    margin: 0px;
    background-color: rgb(66, 66, 66);
}

a {
    margin: 0px 5px;
    vertical-align: middle;
}

p, a {
    font-size: 16px;
}

/*Start Header*/
#headerFull * {
    color: antiquewhite;
}

#headerFull {
    margin: 0px;
    width: 100%;
    display: table;
    background-color: black;
}

#headerName {
    display: table;
    float: left;
}

#headerLinks {
    display: table;
    float: right;
}
/*End Header*/

#mainBody {
    background-color: rgb(238, 238, 238);
}